<html>
    <head>
        <title>Cat K.'s blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Cat K.'s blog</a></h1>
        </div>

        <div>
            <p>published: 06.03.2016, 08:18</P>
            <h2><a href="">My first post</a></h2>
            <p>Figuring out how to work with Python and Django is quite the challenge</p>
        </div>

        <div>
            <p>published: 06.03.2016, 8:22</p>
            <h2><a href="">My second post</a></h2>
            <p>On my way to building my first website in HTML</p>
        </div>      
    </body>
</html>
